.nice-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4e4cb8;
  color: white;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.nice-button:hover {
  background-color: #3c3aa1;
  cursor: pointer;
}